<h1>UPLOAD</h1>
<form enctype="multipart/form-data" method="POST" action="/upload">
    <label>Username</label>
    <input name="username" type="text" />
    <label>Import a profile picture</label>
    <input type="file" name="avatar" />
    <button type="submit">Submit</button>
</form>
<img src="/uploads/cb954006b9e10b4b2a81a1c4ce09bf16" alt="entitie" />